@model AgendaMeMVC3.Models.Promocao

@{
    ViewBag.Title = "Delete";
}

<h2 class="admtitle2"><a href="#">Excluir Promoção</a></h2>

<h3>Deseja realmente excluir a Promoção?</h3>
<fieldset>
    <legend>Promoção</legend>

    <div class="display-label">Promoção</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DsNome)
    </div>

</fieldset>
@using (Html.BeginForm(Model)) {
    <p>
        <input type="submit" value="Excluir" /> |
        @Html.ActionLink("Voltar a Lista", "Index")
    </p>
}
