@{
    ViewBag.Title = "About Us";
}

<h2 class="title2"><a href="#">Sobre</a></h2>
	<div class="entry">
		<p>O sistema <b><em>Agenda-me!</em></b> foi criado pela acadêmica <b>Aparecida Cezerino</b>, como trabalho de conclusão do curso de Sistemas de Informação da Universidade Regional de Blumenau, sob o título "Sistema web para salões de beleza".</p>
        <p>Este sistema está em versão <em>Beta</em>.</p>
        <p>Desenvolvido em ASP.NET usando o framework MVC3 (Razor) da Microsoft, com Visual Studio 2010 e SQL Server 2008.</p>
	</div>


